body {
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  font-size: 28px;
}

p {
  font-size: 14px;
}

ul {
  font-weight: bold;
}
ul li {
  font-weight: bolder;
}
.body-container {
  display: flex;
}

.logo-text {
  font-family: 'Audiowide', cursive;
  color: white;
  font-size: 48px;
}

.logo-container {
  position: absolute;
  top: 30%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: inherit;
}

.image-side {
  width: 50vw;
}

.form-side {
  width: 50vw;
  padding: 20px;
}

.image-side img {
  width: 100%;
}

.logo-container img {
  width: 150px;
}